<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Our First HTML5 Page <%= title %></title>
  <meta name="description" content="have no idea">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div id="wrapper">
    <header>

        <nav>
          <a href="#">Erwin /</a>
          <a href="#">News</a>
          <a href="/users/profile"> Profile</a>
          <a href="#">/ Shop</a>
          <a href="#">Contact</a>
        </nav>
    </header>

    <div class="grid">

      <li>
				<div>
          <a href="#">
            <div><img src="/images/me.jpeg" alt="" width="180" height="240">
              <div>
                <p>LIM</p>
                <h1>Biiq, Beauty Salon, Osaka</h1>
                <p></p>
                <small>March, 2017</small>
              </div>
            </div>
          </a>
				</div>
			</li>
      <li>
        <div>
          <a href="#">
            <div><img src="/images/me.jpeg" alt="" width="180" height="240">
              <div>
                <p>LIM</p>
                <h1>Biiq, Beauty Salon, Osaka</h1>
                <p></p>
                <small>March, 2017</small>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="#">
            <div><img src="/images/me.jpeg" alt="" width="180" height="240">
              <div>
                <p>LIM</p>
                <h1>Biiq, Beauty Salon, Osaka</h1>
                <p></p>
                <small>March, 2017</small>
              </div>
            </div>
          </a>
        </div>
      </li>
      <li>
        <div>
          <a href="#">
            <div><img src="/images/me.jpeg" alt="" width="180" height="240">
              <div>
                <p>LIM</p>
                <h1>Biiq, Beauty Salon, Osaka</h1>
                <p></p>
                <small>March, 2017</small>
              </div>
            </div>
          </a>
        </div>
      </li>
    </div>


    <footer>
      <p>Some copyright and legal notices here. Maybe use the © symbol a bit.</p>
    </footer>
  </div>
</body>
</html>
