<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <div class="r">
        <nav>
          <a href="#">Erwin /</a>
          <a href="#">News</a>
          <a href="#">Profile</a>
          <a href="#">/ Shop</a>
          <a href="#">Contact</a>
          <a href="#">Erwin /</a>
        </nav>
      </div>
    </header>

  </body>
</html>